<header class="wrapper-full">
    <div class="header">
        <!-- Mobile Menu -->
        <div id="toggle">
            <input type="checkbox">
            <span></span>
        </div>
        <div id="mobile-menu__bg">
        </div>
        <!-- /Mobile Menu -->
        <a href="/">
            <img src="img/panda_logo.jpg" alt="">
        </a>
        <div class="header__hav">
            <nav class="header__hav--items">
                <ul>
                    <li>
                        <a class="--link" href="/">HOME</a>
                    </li>
                    <li>
                        <a class="--link" href="/home/about-us">ABOUT</a>
                    </li>
                    <li>
                        <a class="--link" href="/home/gallery">INITIATIVES</a>
                    </li>
                    <li>
                        <a class="--link" href="/auth/login">Login</a>
                    </li>
                    <li>
                        <a class="--link" href="auth/signup">SignUp</a>
                    </li>
                </ul>
            </nav>
            <a href="#" class="color-button">Get in Touch</a>
        </div>
    </div>
</header>